@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body.font-roboto {
  font-family: "Roboto", sans-serif;
}

body.theme-light {
  background-color: var(--light-bg);
  color: var(--light-fg);
}

body.theme-dark {
  background-color: var(--dark-bg);
  color: var(--dark-fg);
}

ul.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.6s ease;
}

body.theme-light ul.navbar {
  background-color: var(--light-bg-light);
  border-bottom: 5px solid var(--accent-light);
}

body.theme-dark ul.navbar {
  background-color: var(--dark-bg-dark);
  border-bottom: 5px solid var(--accent-dark);
}

body.theme-light ul.navbar.scrolled-nav {
  background-color: var(--accent-light);
  border-bottom: 5px solid var(--light-bg-light);
}

body.theme-dark ul.navbar.scrolled-nav {
  background-color: var(--accent-dark);
  border-bottom: 5px solid var(--dark-bg-dark);
}

ul.navbar li.nav-item {
  list-style-type: none;
  margin-top: 18px;
}

ul.navbar li.nav-item a {
  text-decoration: none;
}

body.theme-light ul.navbar li.nav-item a {
  color: var(--light-fg);
}

body.theme-dark ul.navbar li.nav-item a {
  color: var(--dark-fg);
}

body.theme-light ul.navbar li.nav-item.active a {
  color: var(--accent-light);
}

body.theme-dark ul.navbar li.nav-item.active a {
  color: var(--accent-dark);
}

body.theme-light ul.navbar.scrolled-nav li.nav-item a {
  color: var(--light-bg);
}

body.theme-dark ul.navbar.scrolled-nav li.nav-item a {
  color: var(--dark-bg);
}

body.theme-light ul.navbar.scrolled-nav li.nav-item.active a {
  color: var(--light-bg-light);
}

body.theme-dark ul.navbar.scrolled-nav li.nav-item.active a {
  color: var(--dark-bg-light);
}

ul.nav-left, ul.nav-left li.nav-item {
  float: left;
}

ul.nav-right, ul.nav-right li.nav-item {
  float: right;
}

ul.nav-left li.nav-item a, ul.nav-left li.nav-item img {
  margin-left: 25px;
}

ul.nav-right li.nav-item a, ul.nav-right li.nav-item img {
  margin-right: 25px;
}
