@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

body.theme-light {
  background-color: var(--light-bg);
  color: var(--light-fg);
}

body.theme-dark {
  background-color: var(--dark-bg);
  color: var(--dark-fg);
}

ul.navbar {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body.theme-light ul.navbar {
  background-color: var(--light-bg);
  border-bottom: 5px solid linear-gradient(90deg, var(--accent-dark) 0%, var(--accent-light) 100%);
}

body.theme-dark ul.navbar {
  background-color: var(--dark-bg);
  border-bottom: 5px solid linear-gradient(90deg, var(--accent-dark) 0%, var(--accent-light) 100%);
}

body.theme-light ul.navbar.scrolled-nav {
  background-color: 5px solid linear-gradient(90deg, var(--accent-dark) 0%, var(--accent-light) 100%);
  border-bottom: var(--light-bg);
}

body.theme-dark ul.navbar.scrolled-nav {
  background-color: 5px solid linear-gradient(90deg, var(--accent-dark) 0%, var(--accent-light) 100%);
  border-bottom: var(--dark-bg);
}

body.theme-light ul.navbar li {
  color: var(--light-fg);
}

body.theme-dark ul.navbar li {
  color: var(--dark-fg);
}

ul.navbar-left {
  float: left;
}

ul.navbar-center {
  top: 50%; 
  left: 50%; 
  margin-top: -100px; 
  margin-left: -100px; 
}

ul.navbar-right {
  float: right;
}
